.alphabet
	ul.alphabet__list
		li
			a(href="#").is-active A
		+nav-item('B')
		+nav-item('C')
	.checkboxes.row
		+checkbox('checkbox', 'check1', 'A-Derma')
		+checkbox('checkbox', 'check2', 'A.P. Durand Parfums')
		+checkbox('checkbox', 'check3', 'A.Sept')
		+checkbox('checkbox', 'check4', 'A-Derma')
		+checkbox('checkbox', 'check5', 'A.P. Durand Parfums')
		+checkbox('checkbox', 'check6', 'A.Sept')
		+checkbox('checkbox', 'check7', 'A-Derma')
		+checkbox('checkbox', 'check8', 'A.P. Durand Parfums')
		+checkbox('checkbox', 'check9', 'A.Sept')
		+checkbox('checkbox', 'check10', 'A-Derma')
		+checkbox('checkbox', 'check11', 'A.P. Durand Parfums')
		+checkbox('checkbox', 'check12', 'A.Sept')
		+checkbox('checkbox', 'check13', 'B-Derma')
		+checkbox('checkbox', 'check14', 'B.P. Durand Parfums')
		+checkbox('checkbox', 'check15', 'B.Sept')
		+checkbox('checkbox', 'check16', 'B-Derma')
		+checkbox('checkbox', 'check17', 'B.P. Durand Parfums')
		+checkbox('checkbox', 'check18', 'B.Sept')
		+checkbox('checkbox', 'check19', 'B-Derma')
		+checkbox('checkbox', 'check20', 'B.P. Durand Parfums')
		+checkbox('checkbox', 'check21', 'B.Sept')
		+checkbox('checkbox', 'check22', 'B-Derma')
		+checkbox('checkbox', 'check23', 'B.P. Durand Parfums')
		+checkbox('checkbox', 'check24', 'B.Sept')
		+checkbox('checkbox', 'check25', 'C-Derma')
		+checkbox('checkbox', 'check26', 'C.P. Durand Parfums')
		+checkbox('checkbox', 'check27', 'C.Sept')
		+checkbox('checkbox', 'check28', 'C-Derma')
		+checkbox('checkbox', 'check29', 'C.P. Durand Parfums')
		+checkbox('checkbox', 'check30', 'C.Sept')
		+checkbox('checkbox', 'check31', 'C-Derma')
		+checkbox('checkbox', 'check32', 'C.P. Durand Parfums')
		+checkbox('checkbox', 'check33', 'C.Sept')
		+checkbox('checkbox', 'check34', 'C-Derma')
		+checkbox('checkbox', 'check35', 'C.P. Durand Parfums')
		+checkbox('checkbox', 'check36', 'C.Sept')