.catalog__list.row.no-gutters
	.catalog__item.col-sm.is-active
		a(href="#")
			.catalog__img
				img(src="images/gel.png", alt="")
			.catalog__name Гель для ногтей
	+catalog-item('Гель для ногтей')
	+catalog-item('Жидкость для снятия лака')
	+catalog-item('Гель для ногтей')
	+catalog-item('Гель для ногтей')
	+catalog-item('Карандаш для ногтей')
	+catalog-item('Гель для ногтей')
	+catalog-item('Гель для ногтей')
	.catalog__item.col-sm
		a(href="#").catalog__item__more.row.no-gutters.align-items-center 
			div Смотреть все (+13)
.catalog__filter.row.no-gutters.justify-content-between
	.catalog__filter__item
		a(href="#").is-active бренд 
	.catalog__filter__item
		a(href="#") группа товара
	.catalog__filter__item
		a(href="#") назначение 
	.catalog__filter__item
		a(href="#") классификация
	.catalog__filter__item
		a(href="#") пол
	.catalog__filter__item
		a(href="#") особенности
	.catalog__filter__item
		a(href="#") объем
	.catalog__filter__item
		a(href="#") сделано в
	.catalog__filter__item
		a(href="#") страна