footer.footer
	.container
		.row.no-gutters.justify-content-between
			.footer__item
				img(src="images/logo.png", alt="")
			.footer__item
				ul.footer__menu.footer__menu--uppercase
					+nav-item('Купить Beauty Set')
					+nav-item('АкциИ')
					+nav-item('Оплата и доставка')
					+nav-item('О магазине')
					+nav-item('Beauty-школа')
			.footer__item
				ul.footer__menu
					+nav-item('Вопрос-ответ')
					+nav-item('Условия возврата')
					+nav-item('Гарантийные условия')
			.footer__item
				h6 Контакты
				ul.footer__contact
					li
						i.zmdi.zmdi-phone.middle
						span.middle +380 93 555-55-55
					li
						i.zmdi.zmdi-email.middle
						span.middle hello@beautyset.com.ua
				a(href="#").btn.btn--purple.btn--call
					i.zmdi.zmdi-phone-in-talk.middle
					span.middle Заказать звонок
			.footer__item
				h6 Мы в соцсетях
				ul.footer__social
					li
						a(href="#")
							i.zmdi.zmdi-facebook.middle
							span.middle Facebook
					li
						a(href="#")
							i.zmdi.zmdi-youtube-play.middle
							span.middle Youtube
					li
						a(href="#")
							i.zmdi.zmdi-instagram.middle
							span.middle Instagram
					li
						a(href="#")
							i.zmdi.zmdi-twitter.middle
							span.middle Twitter
			.footer__item
				h6 Принимаем к оплате
				.payment
					img(src="images/payment.png", alt="")
				.privacy
					a(href="#").link Пользовательское соглашение
			.footer__item
				h6 
					span.middle Сделано с
					i.zmdi.zmdi-favorite.middle
				.develop
					img(src="images/agentcy.png", alt="")
				.copyright BeautySet © 2017

















