.contact-form
	.container
		.contact-form__content
			h2 Задайте нам вопрос
			p.contact-form__subtitle Есть у вас остались вопросы, напишите нам, и мы ответим вам в ближайшее время
			form.contact-form__item
				.row
					.col-lg-6
						.form-group
							input(type="text", placeholder="Ваше имя").form-control
						.form-group
							input(type="text", placeholder="Ваш e-mail").form-control
					.col-lg-6
						.form-group
							textarea(placeholder="Текст сообщения").form-control
					.col-lg-12
						.form-group.form-group--submit
							button(type="submit").btn.btn--dark Отправить