.products__item.is-disable
	.products__item__content
		.products__img.row.no-gutters.align-items-center
			div
				a(href="#")
					img(src="images/p-img.png", alt="")
		.products__name
			a(href="#").link CND Brisa Color Gel black
		.row.no-gutters.justify-content-between
			.rating
				i.zmdi.zmdi-star.is-active
				i.zmdi.zmdi-star.is-active
				i.zmdi.zmdi-star.is-active
				i.zmdi.zmdi-star
				i.zmdi.zmdi-star
			.products__status
				div.status-in
					span Нет на складе
		.products__bottom.row.no-gutters.justify-content-between
			.price
				.price__today 
					span 294
					span.currency &#8372;
			.like
				i.zmdi.zmdi-favorite-outline