.col-elg-3.col-xl-4.col-lg-6
	.products__item
		.products__item__content
			.sale-label -20%
			.products__img.row.no-gutters.align-items-center
				div
					a(href="#")
						img(src="images/p-img.png", alt="")
				.colors
					.colors__item
						.colors__value(style="background-color: #4b49ab")
					.colors__item
						.colors__value(style="background-color: #000")
					.colors__item
						.colors__value(style="background-color: #a633b9")
					.colors__item.is-active
						.colors__value(style="background-color: #bd1320")
					.colors__more
						.colors__icon
						.colors__count +126
			.products__name
				a(href="#").link Лечебная основа под лак с кальцием
			.row.no-gutters.justify-content-between
				.rating
					i.zmdi.zmdi-star.is-active
					i.zmdi.zmdi-star.is-active
					i.zmdi.zmdi-star.is-active
					i.zmdi.zmdi-star
					i.zmdi.zmdi-star
				.products__status
					div.status-in 
						span Заканчивается
			.products__bottom.row.no-gutters.justify-content-between
				.price
					.price__today 
						span 294
						span.currency &#8372;
					.price__prev 
						span 480
						span.currency &#8372;
				.like.is-active
					i.zmdi.zmdi-favorite