.products.row.no-gutters
	.col-elg-3.col-xl-4.col-lg-6
		include product-basic
	.col-elg-3.col-xl-4.col-lg-6
		include product-color
	.col-elg-3.col-xl-4.col-lg-6
		include product-basic
	.col-elg-3.col-xl-4.col-lg-6
		include product-color
	.col-elg-3.col-xl-4.col-lg-6
		include product-disable
	.col-elg-3.col-xl-4.col-lg-6
		include product-disable
	.col-elg-3.col-xl-4.col-lg-6
		include product-disable
	.col-elg-3.col-xl-4.col-lg-6
		include product-disable
.more-btn
	a(href="#").btn.btn--white Показать еще




