.products.row.no-gutters
	include product-basic.pug
	include product-color.pug
	include product-basic.pug
	include product-color.pug
	include product-disable.pug
	include product-disable.pug
	include product-disable.pug
	include product-disable.pug
.more-btn
	a(href="#").btn.btn--white Показать еще




