.sidebar
	.sidebar__content
		ul.sidebar__menu
			li
				a(href="#").sidebar__btn 
					| Ногти
					i.zmdi.zmdi-chevron-down.sidebar__btn__arrow
				ul.sidebar__dropdown
					+nav-item('Подпункт 1')
					+nav-item('аксессуары для ногтей')
					+nav-item('вспомогательные жидкости')
			li
				a(href="#").sidebar__btn 
					| Волосы
					i.zmdi.zmdi-chevron-down.sidebar__btn__arrow
				ul.sidebar__dropdown
					+nav-item('Подпункт 1')
					+nav-item('аксессуары для ногтей')
					+nav-item('вспомогательные жидкости')
			li
				a(href="#").sidebar__btn 
					| Лицо и тело
					i.zmdi.zmdi-chevron-down.sidebar__btn__arrow
				ul.sidebar__dropdown
					+nav-item('Подпункт 1')
					+nav-item('аксессуары для ногтей')
					+nav-item('вспомогательные жидкости')
			li
				a(href="#").sidebar__btn
					| Техника
					i.zmdi.zmdi-chevron-down.sidebar__btn__arrow
				ul.sidebar__dropdown
					+nav-item('Подпункт 1')
					+nav-item('аксессуары для ногтей')
					+nav-item('вспомогательные жидкости')