@import "variables";

[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;

  + label{
  	position: relative;
	  cursor: pointer;
	  font-family: $regular;
	  color: #000;
	  font-size: 13px;
	  margin: 0;
    display: block;
    padding-left: 20px;

	  i{
	  	color: #d7d7d7;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 2px;
	  }
  }
  &:checked{
  	 + label{
  	 	i{
  	 		color: $color-purple;
  	 	}
  	 }
  }
}
.checkbox-item{
	margin-bottom: 5px;
}