// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-purple: #e850b8;
$color-main: #435260;

// FONTS
$regular: 'ProximaNovaRegular';
$bold: 'ProximaNovaBold';
$light: 'ProximaNovaLight';
$italic: 'ProximaNovaRegularIt';